@font-face {
  font-family: din-regular;
  src: url("../fonts/DINEngschriftStd.otf");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'din-regular', 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F16525;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F16525;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f16525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #212529;
}

.text-primary {
  color: #F16525 !important;
}

.text-secondary {
  color: #808083 !important;
}

.btn-secondary {
  background: #2A3B8E !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F16525;
  border-color: #F16525;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ed550f !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.testimonial_v1 img {
  height: 80px;
}

.testimonial_v1 .heading {
  color: #495057;
  font-size: 18px;
}

.testimonial_v1 .subheading {
  color: rgba(0, 0, 0, 0.4);
}

.testimonial_v1 blockquote {
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.7;
  color: #495057;
}

.testimonial_v1.pb_quote_v1 .media-body {
  position: relative;
  margin-top: 40px;
}

.testimonial_v1.pb_quote_v1 .quote {
  font-size: 100px;
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #adb5bd;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.testimonial_v1.pb_quote_v2 .media-body {
  position: relative;
}

.testimonial_v1.pb_quote_v2 .quote {
  font-size: 150px;
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #dee2e6;
  line-height: 0;
  top: 40px;
  position: absolute;
  left: 0%;
  z-index: -1;
}

.testimonial_v2 .pb_media-header img {
  height: 70px;
}

.testimonial_v2 .pb_media-header .heading {
  font-size: 18px;
}

.testimonial_v2 .pb_media-header .heading, .testimonial_v2 .pb_media-header .subheading {
  display: block;
  margin-bottom: 0;
}

.testimonial_v2 blockquote {
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  color: #495057;
}

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 1;
}

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide blockquote {
  margin-bottom: 40px;
}

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide img {
  height: 170px;
}

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .heading {
  font-size: 18px;
  margin-bottom: 0;
}

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .subheading {
  font-size: 16px;
}

.pb_slide_testimonial_sync_v1 .pb_slider_nav {
  width: 250px;
  margin: 0 auto;
}

.pb_slide_testimonial_sync_v1 .pb_slider_nav .author {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 10px;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.pb_slide_testimonial_sync_v1 .pb_slider_nav .author.slick-current {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

body {
  color: #F16525;
  background: #fff;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F16525;
  font-family: 'din-regular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f16525;
}

#mainNav .img-logo {
  max-width: 250px;
  max-height: 60px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F16525;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F16525 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #F16525;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F16525;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    border-bottom: 2px solid #F16525;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f16525;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F16525;
  }
  #mainNav.navbar-shrink .img-logo {
    max-width: 250px;
    max-height: 60px;
  }
  #mainNav .img-logo {
    max-width: 250px;
    max-height: 100px;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header1.JPG");
  background-position: center center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.eventslist {
  padding-top: 3rem;
}

.eventslist .oline {
  border-color: #F16525;
}

.eventslist .headerbar {
  background: #000;
  margin-top: 2rem;
}

.eventslist hr {
  max-width: 100% !important;
  border-width: 2px;
  border-color: #adb5bd;
}

.eventslist .eventbutton {
  text-transform: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
  text-decoration: none;
}

.eventslist .eventhead {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .eventslist h1 {
    letter-spacing: 0.4rem;
  }
  .eventslist .eventhead {
    margin-top: 0;
  }
  .eventslist .img-fluid,
  .eventslist .ch {
    height: 360px;
  }
  .eventslist .ch1 {
    height: 527px;
  }
}

.eventslist .line2 {
  width: 72px;
  height: 59px;
  border-bottom: 1px solid #808083;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
  position: absolute;
  top: 24px;
  left: 74px;
}

.eventslist .line3 {
  width: 72px;
  height: 59px;
  border-bottom: 1px solid #808083;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
  position: absolute;
  top: 24px;
  left: 74px;
  left: 20rem;
}

.eventslist .line2n {
  width: 111px;
  height: 74px;
  border-bottom: 1px solid #808083;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
  position: absolute;
  top: 24px;
  left: 48px;
}

.eventslist .line3n {
  width: 111px;
  height: 74px;
  border-bottom: 1px solid #808083;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
  position: absolute;
  top: 24px;
  left: 48px;
  left: 30rem;
}

@media (max-width: 768px) {
  .eventslist .line2 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 47px;
  }
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 12rem;
  }
  .eventslist .line2n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 54px;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 20rem;
  }
}

@media (min-width: 1024px) {
  .eventslist .eventbutton {
    width: auto;
    margin-bottom: 0;
  }
  .eventslist .line2 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
  }
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 18rem;
  }
  .eventslist .line2n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 20rem;
  }
}

@media (min-width: 1024px) {
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 20rem;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 30rem;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 18rem;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 20rem;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 18rem;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 20rem;
  }
}

@media (min-width: 1366px) and (min-height: 1024px) {
  .eventslist .line3 {
    width: 72px;
    height: 59px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 74px;
    left: 20rem;
  }
  .eventslist .line3n {
    width: 111px;
    height: 74px;
    border-bottom: 1px solid #808083;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-63deg);
    position: absolute;
    top: 24px;
    left: 48px;
    left: 30rem;
  }
}

@media (max-width: 480px) {
  .eventslist .blackhead {
    font-size: 1.4rem;
  }
}

.eventslist .borderless td,
.eventslist .borderless th {
  border: none;
}

.eventslist .thdata {
  color: #000;
  text-align: left;
}

.portfolio {
  background: #e9ecef;
  margin-bottom: -15px;
  /* Bottom left text */
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(241, 101, 37, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio hr.star-dark:after {
  color: #2C3E50;
  background-color: #e9ecef;
}

.portfolio a {
  text-decoration: none;
}

.portfolio .containerimg {
  position: relative;
  text-align: center;
  color: white;
}

.portfolio .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.portfolio .img-fluid {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7) !important;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7) !important;
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .moddetail {
  background: #f3f3f2;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.h {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#contact .submitbutton {
  text-align: center;
}

#contact .submitbutton button {
  cursor: pointer;
}

footer hr {
  max-width: 100% !important;
  border-color: #adb5bd;
}

footer .footabout {
  font-size: 0.9rem;
}

footer .social {
  color: #adb5bd;
}

footer .footterms {
  cursor: pointer;
  color: #868e96 !important;
}

footer .foot2 {
  border-left: 2px solid #adb5bd;
  left: 2.5rem;
}

footer .branch {
  padding-top: 1.2rem;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

.tdata {
  color: #868e96;
  text-align: left;
}

.button {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2.8px;
  padding-bottom: 2.8px;
  background: #F16525;
  color: white;
  font-size: 1rem;
}

.buttonv {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2.8px;
  padding-bottom: 2.8px;
  background: #2A3B8E;
  color: white;
  font-size: 1rem;
}

.buttonv:hover,
.button:hover {
  color: #fff;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.next::after {
  border-style: solid;
}

/* Next Button */
/* ----------- */
.next::after {
  right: -28px;
  border-width: 14px;
  border-color: transparent transparent transparent #F16525;
}

.next:hover::after {
  border-left-color: #F16525;
}

#testimonials .card {
  margin: 0 auto;
}

#testimonials .card .carousel-item {
  height: 200px;
}

#testimonials .card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}

#testimonials .card .carousel-caption h3 {
  color: #3d3d3d;
}

#testimonials .card .carousel-caption p {
  line-height: 30px;
}

#testimonials .card .carousel-caption .col-sm-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#testimonials .card .carousel-caption .col-sm-9 {
  text-align: left;
}

#testimonials .card .carousel-control-prev,
#testimonials .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
